body {
background: linear-gradient(to left, rgb(232, 133, 12),rgba(232, 133, 12, 0.594));
align-items: center;
justify-content: center;

}

.container {
    position: relative;
    top: 300px;
}



.card {
    border: solid rgb(67, 192, 42) 5px;
    border-radius: 20px;
    background-color: antiquewhite;
}

span {
    color: rgb(67, 192, 42);
}

.buttons {
    width: fit-content;
    padding-left: 30px;
    margin-left: 135px;
}

button {
    margin-right: 30px;
    border-radius: 5px;
    font-style: oblique;
    font-weight: 400;
    font-size: larger;
    background: linear-gradient(to bottom,rgb(45, 238, 6),rgb(67, 192, 42) );
    color: antiquewhite;;
}

button:hover {
 background: rgb(67, 192, 42);
}

button:active {
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.947);
}